##################################
# 源地址：https://github.com/zirawell/app_remove_ads/blob/main/All/filter/adBlock.list
# 招商银行去除广告
##################################

hostname = webappcfg.paas.cmbchina.com

^https?:\/\/webappcfg\.paas\.cmbchina\.com\/v\d\/func\/getmarketconfig url reject-200

host, mbads.paas.cmbchina.com, reject
host, yl.zh.cmbchina.com, reject
