hostname = kegelapi.dailystretch.app

^https?:\/\/kegelapi\.dailystretch\.app\/api\/v\d\/(profile|subject) url script-response-body https://github.com/ddgksf2013/MoYu/raw/master/MeiRiKaiGeErProCrack.js
